.circleRating {
    background-color: var(--black);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;

    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--black);

        &:hover {
            font-size: 250%;
        }
    }

    .CircularProgressbar-trail {
        stroke: transparent;
    }

    &:hover {
        box-shadow: 0 0 1em var(--pink);
        border-radius: 90%;
        box-sizing: 250%;
    }
}